.deps/
.dirstamp
.libs/
*.5
*.8
*.o
*.la
*.lo
*.spec
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.rpath
config.sub
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.in
cscope.out
depcomp
dict.symbols
gsstunnel
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
mkinstalldirs~
m4/
po/*.mo
po/*.in.in
po/*.template
po/Rules-quot
po/*.sed
po/*.header
po/*.sin
stamp-h1
